<if "$theWidget->isRender()" >
<li id='{=$theWidget->id()}' {=$theWidget->getCssClassString()}>
	<if '$theWidget->isActive()'>
		<div class="jc-widget-menu-item-div-active">
			{=$theWidget->html()}
		</div>
	<elseif '$theWidget->isBubblingActive()' />
		<div class="jc-widget-menu-item-div-bubblingactive">
			{=$theWidget->html()}
		</div>
	<else/>
		<div>
			{=$theWidget->html()}
		</div>
	</if>
	
	<if "$theWidget->subMenu() and $attr['showDepths'] > 0" >
		<widget instance="$theWidget->subMenu()" e:attr.showDepths="$attr['showDepths']" />
	</if>
</li>
</if>
