<if "{=$theWidget->isMultiple()}">
	<textarea ignore='1' id="{=$theWidget->id()}" name="{=$theWidget->formName()}" {= $theWidget->isReadOnly() ? 'readonly="readonly"' : ''}  {= $theWidget->isDisabled() ? 'disabled="disabled"' : ''} {=$theWidget->displayInputAttributes($attr)} >{=$theWidget->valueToString()}</textarea>
<if:else/>
	<input ignore='1' id="{=$theWidget->id()}" name="{=$theWidget->formName()}" value="{=$theWidget->valueToString()}" type="{=$theWidget->typeForHtml()}"  {= $theWidget->isReadOnly() ? 'readonly="readonly"' : ''}  {= $theWidget->isDisabled() ? 'disabled="disabled"' : ''} {=$theWidget->displayInputAttributes($attr)} />
</if>
