<ul id='{=$theWidget->id()}' 
	{=$theWidget->getStyleString()}
	{=$theWidget->getCssClassString()}
	tearoff="{=$theWidget->isTearoff()?'on':'off'}"
	direction="{=$theWidget->getDirection()}"
	showOnMouseOver="{=$theWidget->isShowOnMouseOver($attr)?'on':'off'}"
	showDepth="{=$theWidget->showDepths($attr)}" >
<foreach for='$theWidget->itemIterator()' item='aItem'>
	<widget instance='$aItem' e:attr.showDepths="isset($attr['showDepths'])?$attr['showDepths']-1:null" />
</foreach>
<li class="clear"></li>
</ul>
