<li	id='{=$theWidget->id()}' {=$theWidget->getCssClassString()}>
	<if '$theWidget->isActive()'>
		<div class="jc-widget-menu-item-div-active">
			{=$theWidget->html()}
		</div>
	<elseif '$theWidget->isBubblingActive()' />
		<div class="jc-widget-menu-item-div-bubblingactive">
			{=$theWidget->html()}
		</div>
	<else/>
		<div>
			{=$theWidget->html()}
		</div>
	</if>
	
	<if "$theWidget->isDisplaySubMenu()" >
		<widget instance="$theWidget->subMenu()" attr.showDepths="$attr['showDepths']" attr.showDepths.type="expression" />
	</if>
</li>
