
/* --- for menu ---*/
.jc-widget-menu{
	border:solid 1px;
}
.jc-widget-menu-depth-1{
}
.jc-widget-menu-direction-h{
	margin:0;
}
.jc-widget-menu-tearoff{
	display:none;
	position:absolute;
}


/* --- for menu item ---*/
.jc-widget-menu-item-direction-h{
	float:left;
}
.jc-widget-menu-item-active{
	background-color: #ff0000;
}