ul .jc-mvc-view-widget-menu-menu{
	width:500px;
	border:solid 1px;
	background:#fff;
}
.jc-mvc-view-widget-menu-menu-depth1{
	/*width:200px;*/
}
ul.jc-mvc-view-widget-menu-direction-h{
	margin:0;
	/*width:200px;*/
}
li.jc-mvc-view-widget-menu-direction-h{
	display:inline;
}


/* --- for menu item ---*/
.jc-widget-menu-item-direction-h{
	float:left;
}
.jc-widget-menu-item-active{
	background-color: #ff0000;
}