<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
<head>
	<script type="text/php">\jc\lang\Assert::type('\\jc\\mvc\\view\\Webpage',$theView) ;</script>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta name="keywords" content="{=$theView->keywords()}" />
	<meta name="description" content="{=$theView->description()}" />
	<title>{=$theView->title()}</title>

	<!-- load javascript and css -->
	<loadresource />
	
</head>

<body>
<views />
</body>

</html>